<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<style>
body
{
  background-color: #33cccc;
}
</style>
<title>TODOs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--setting http tag for website, setting content type and charset-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--defining links between html page and external sources-->
<style>
  .test{
    width: 500px;
    height: 0px;
  }
  </style>
    <style>
.parallax {
    /* The image used */
    background-image: url("http://i67.tinypic.com/zikns6.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>

<body class="parallax">
	<div class="container-fluid">
	<div>
			<form th:action="@{/logout}" method="post">
				<br><input type="submit" class="btn btn-success" value="Sign Out" />
			</form>
		</div>
		<h4><br><br>Welcome, <span th:text="${username}"></span>!</h4>
		<div class="row">
			<h3>
				&nbsp;&nbsp;TO-DO Lists <small class="text-muted"> - simple and easy to manage</small>
			</h3>
		</div>

		<div class="row">
			<div class="col-md-4">
				<ul class="list-group">
    
    <div class="test">
					<li th:each="todo:${todos}" class="list-group-item">
					<div th:if="${todo.name} ne ${editName}">
					<span th:text="${todo.name}">
								</div>
								<div th:unless="${todo.name} ne ${editName}">
								<form th:action="@{'/editedTask/'+${todo.id}}" method="post" 
								>
            <div><input type="text" name="name" th:value = "${editName}" size="35"> </label></div>
             <p><input type="submit" class = "btn btn-primary" value="Save" style="margin-left:400px;"/> </p>
            </div>
        </form>
						</span>
							</li> </div>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>



  


