<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"> 
<!--to connect to the server side software that enables connecting of html and java-->
<head>
</head>
<body>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--setting http tag for website, setting content type and charset-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--defining links between html page and external sources-->
<style>
div {
	color:black;
}
</style>
  <style>
.parallax {
    /* The image used */
    background-image: url("http://i67.tinypic.com/2ldeio5.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
    <body class="parallax">
    <div style="z-index: 1" position:absolute class = "container"
        <div th:if="${param.error}">
        <h4><br>Invalid username and password.</h4>
        </div>
        <div th:if="${param.logout}">
              <h4> <br>&nbsp;&nbsp;&nbsp;&nbsp;You have been logged out.</h4>
        </div>
        </div>
        <form th:action="@{/login}" method="post">
            <br><div>&nbsp;&nbsp;&nbsp;&nbsp;User Name: <input type="text" name="username"/> </label></div>
            <br><div>&nbsp;&nbsp;&nbsp;&nbsp;Password  : <input type="password" name="password"/> </label></div>
            <br><div>&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Sign In" class="btn btn-primary"/></form>
            <h4><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;Don't have an account yet? Create one.</h4>
            
            <form th:action="@{/createuser}" method="post" 
            <br><br><div>&nbsp;&nbsp;&nbsp;&nbsp;Your Name: <input type="text" name="name"/> </label></div>
            <br><div>&nbsp;&nbsp;&nbsp;&nbsp;User Name: <input type="text" name="username"/> </label></div>
            <br><div>&nbsp;&nbsp;&nbsp;&nbsp;Password  : <input type="password" name="password"/> </label></div>
            <br><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Create Account" class = "btn btn-success"/></div>
            <h4><br>&nbsp;&nbsp;&nbsp;&nbsp;<span th:text = "${userCreated}"></span></h4>
            </div>
            
               
    
            
        </form>
</div>


    </body>
</html>